includes:
    - phpstan-baseline.neon

parameters:
    level: max
    excludes_analyse:
        - %currentWorkingDirectory%/benchmarks/*
        - %currentWorkingDirectory%/bin/*
        - %currentWorkingDirectory%/docs/*
        - %currentWorkingDirectory%/test/*
        - %currentWorkingDirectory%/vendor/*
