<?xml version="1.0"?>
<psalm
    errorLevel="1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorBaseline="psalm-baseline.xml"
    findUnusedPsalmSuppress="true"
    findUnusedCode="true"
    findUnusedBaselineEntry="true"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="test"/>
        <ignoreFiles>
            <directory name="vendor"/>
            <directory name="test/TestAsset"/>
            <directory name="test/**/TestAsset"/>
        </ignoreFiles>
    </projectFiles>
    
    <issueHandlers>
        <MixedAssignment errorLevel="suppress"/>
        <DeprecatedMethod>
            <errorLevel type="suppress">
                <!-- Permit tests to call deprecated methods -->
                <directory name="test" />
                <file name="src/Test/CommonPluginManagerTrait.php" />
            </errorLevel>
        </DeprecatedMethod>
        <DeprecatedProperty>
            <errorLevel type="suppress">
                <!-- The abstract plugin manager will need to reference deprecated props until v5 -->
                <file name="src/AbstractPluginManager.php" />
            </errorLevel>
        </DeprecatedProperty>
        <InternalClass>
            <errorLevel type="suppress">
                <!-- Tests are allowed to work with internal classes -->
                <directory name="test"/>
            </errorLevel>
        </InternalClass>
        <InternalMethod>
            <errorLevel type="suppress">
                <!-- Tests are allowed to work with internal classes -->
                <directory name="test"/>
            </errorLevel>
        </InternalMethod>
        <PossiblyUnusedMethod>
            <errorLevel type="suppress">
                <!-- All data-providers appear as 'un-used' -->
                <directory name="test"/>
            </errorLevel>
        </PossiblyUnusedMethod>
    </issueHandlers>
<plugins><pluginClass class="Psalm\PhpUnitPlugin\Plugin"/></plugins></psalm>
